*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-weight: bold;
}
body{
    font-family: "Roboto", sans-serif;
    background: #f0f2f7;

}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.label{
    padding: 10px;
    font-size: 18px;
    color: #111;
}
.copy-text{
    position: relative;
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: flex;
}
.copy-text input.text{
    padding: 10px;
    font-size: 18px;
    color: #555;
    border: none;
    outline: none;

}
.copy-text button{
    padding: 10px;
    background-color: #5784f5;
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}
.copy-text button:active{
    background: #809ce2;

}
/* .error{
    opacity: 0;
}
.error.active{
    opacity: 1;
    color: red;
} */
.error{
    opacity: 0;
    top: -1000em;
    transition: opacity 1s;
    position: absolute;
}
.error.active{
    opacity: 1;
    position: absolute;
    top: -3px;
    right: -70px;
    background: red;
    padding: 8px 10px;
    border-radius: 20px;
    font-size: 15px;
    color: white;
    font-weight: bold;
}